/* Main body sections */
body {
  background-color: black;
}

.app-plate {
  height: 890px;
  width: 1100px;
  background-color: gray;
  margin: auto;
  margin-top: 20px;
  display: grid;
}

/* Login view section */
.login-plate {
  height: 890px;
  width: 1100px;
  background-color: gray;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.loginSection {
  height: 600px;
  width: 600px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginContainer {
  height: 570px;
  width: 570px;
  margin-top: 15px;
  margin-left: 15px;
  background-color: honeydew;
  display: flex;
  flex-direction: column;
}

.loginHeader {
  text-align: center;
  margin: 10px;
  margin-top: 190px;
}

.usernameText {
  margin-left: 15px;
}

.usernameInput {
  margin: 15px;
  margin-top: 5px;
}

.passwordText {
  margin-left: 15px;
}

.passwordInput {
  margin: 15px;
  margin-top: 5px;
}

.loginButton {
  margin: 15px;
}

.welcome {
  height: 600px;
  width: 600px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: white;
  font-size: 100px;
}

/* Top header section */
.titleContainer {
  height: 65px;
  width: 1050px;
  background-color: orange;
  text-align: center;
  margin: auto;
  margin-top: 25px;
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Last 10 section */
.lastTenSection {
  height: 50px;
  width: 1050px;
  background-color: paleturquoise;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  margin: auto;
}

.lastTenContainer {
  position: relative;
}

.TopTenEntryBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(204, 204, 204);
  border-radius: 4px;
}

/* Center of the app section Chart and Players*/
.centerContainer {
  height: 600px;
  width: 1050px;
  background-color: greenyellow;
  margin: auto;
  display: flex;
}

.chartSection {
  height: 600px;
  width: 750px;
  background-color: indianred;
}

.chartContainer {
  height: 570px;
  width: 720px;
  background-color: ivory;
  margin-top: 15px;
  margin-left: 15px;
  position: relative;
}

.chart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

.playersSection {
  height: 600px;
  width: 300px;
  background-color: indigo;
}

.playersContainer {
  height: 570px;
  width: 270px;
  background-color: ivory;
  margin-left: 15px;
  margin-top: 15px;
}

.playerEntry {
  height: 20px;
  margin-left: 15px;
  padding-top: 10px;
}

/* Player input section */
.playerInput {
  height: 125px;
  width: 1050px;
  background-color: hotpink;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 25%);

}

.betAmountContainer {
  position: relative;
}

.betAmount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
}

.betButtonContainer {
  position: relative;
}

.betButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 33px;
  width: 100px;
}

.currentBalanceContainer {
  position: relative;
}

.currentBalance {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: ivory;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.overallContainer {
  position: relative;
}

.overall {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: ivory;
  height: 30px;
  width: 150px;
  text-align: center;
  padding-top: 10px;
}