/* Main body sections */
body {
  font-family: 'Open Sans', sans-serif;
}

@keyframes STAR-MOVE {
	from {
		left: 0;
		top: 0;
	}
	to {
		left: -10000px;
		top: -2000px;
	}
}

#background {
	background: black url('../images/background.png') repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;

	animation-name: STAR-MOVE;
	animation-duration: 200s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#midground {
	background: url('../images/midground.png') repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;

	animation-name: STAR-MOVE;
	animation-duration: 150s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#foreground {
	background: url('../images/foreground.png') repeat 35% 35%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 300;

	animation-name: STAR-MOVE;
	animation-duration: 100s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.app-plate-container {
  height: 890px;
  width: 1100px;
  background-color: gray;
  margin: auto;
  margin-top: 20px;
  display: grid;
  position: relative;
  z-index: 400;
  border-radius: 10px;
}

.app-plate {
  height: 890px;
  width: 1100px;
  background-color: gray;
  margin: auto;
  margin-top: 20px;
  display: grid;
  position: relative;
  z-index: 500;
  border-radius: 10px;
}


/* Login view section */
.disclaimer {
  text-align: center;
  margin: 15px;
}

.login-plate {
  height: 890px;
  width: 1100px;
  background-color: gray;
  margin: auto;
  margin-top: 20px;
  position: relative;
  z-index: 400;
  border-radius: 10px;
}

.loginSection {
  height: 600px;
  width: 600px;
  background-color: #173e43;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.loginContainer {
  height: 570px;
  width: 570px;
  margin-top: 15px;
  margin-left: 15px;
  background-color: #3fb0ac;;
  display: flex;
  flex-direction: column;
}

.loginHeader {
  text-align: center;
  margin: 10px;
  margin-top: 70px;
  font-family: 'Notable', sans-serif;
  font-size: xx-large;
  margin-bottom: 50px;
}

.usernameText {
  margin-left: 15px;
}

.usernameInput {
  margin: 15px;
  margin-top: 5px;
  background-color: ivory;
  height: 30px;
  min-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  border:0.16em solid #173e43;
  white-space: nowrap;
}

.passwordText {
  margin-left: 15px;
}

.passwordInput {
  margin: 15px;
  margin-top: 5px;
  background-color: ivory;
  height: 30px;
  min-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  border:0.16em solid #173e43;
  white-space: nowrap;
}

.loginButton {
  margin: 15px;
  text-align: center;
  background-color: ivory;
  padding: 10px;
  border-radius: 5px;
  border:0.16em solid #173e43;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.welcome {
  height: 890px;
  width: 1100px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  font-family: 'Notable', sans-serif;
  font-size: 80px;
}

/* Top header section */
.titleContainer {
  height: 65px;
  width: 1050px;
  background-color: #3fb0ac;
  text-align: center;
  margin: auto;
  margin-top: 25px;
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Notable', sans-serif;
  font-size: xx-large;
}

/* Last 10 section */
.lastTenSection {
  height: 50px;
  width: 1050px;
  background-color: #173e43;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  margin: auto;
}

.lastTenContainer {
  position: relative;
}

.TopTenEntryBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(204, 204, 204);
  border-radius: 4px;
}

/* Center of the app section Chart and Players*/
.centerContainer {
  height: 600px;
  width: 1050px;
  background-color: greenyellow;
  margin: auto;
  display: flex;
}

.chartSection {
  height: 600px;
  width: 750px;
  background-color: #3fb0ac;
}

.chartContainer {
  height: 570px;
  width: 720px;
  background-color: ivory;
  margin-top: 15px;
  margin-left: 15px;
  position: relative;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  display: grid;
  border:0.16em solid #173e43;
}

.chart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

.chartText {
  white-space: nowrap;
  text-align: center;
}

.playersSection {
  height: 600px;
  width: 300px;
  background-color: #3fb0ac;
}

.playersContainer {
  height: 570px;
  width: 270px;
  background-color: ivory;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  border:0.16em solid #173e43;
}

.playerEntry {
  height: 20px;
  margin-left: 15px;
  padding-top: 10px;
}

/* Player input section */
.playerInput {
  height: 125px;
  width: 1050px;
  background-color: #3fb0ac;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.betAmountContainer {
  position: relative;
  text-align: center;
}

.betAlert {
  margin-top: 5px;
  color: red;
  font-weight: 900;
}

.betAmount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  padding: 10px;
  text-align: center;
  background-color: ivory;
  border-radius: 5px;
  border:0.16em solid #173e43;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

input.middle:focus {
  outline: none;
}

.betButtonContainer {
  position: relative;
  text-align: center;
}

.getOutAlert {
  margin-top: 5px;
  color: green;
  font-weight: 900;
}

.betButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 5em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color: ivory;
  text-align:center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  white-space: nowrap;
  border-radius: 5px;
  background-color: #173e43;
}

.currentBalanceContainer {
  position: relative;
}

.currentBalance {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: ivory;
  height: 30px;
  min-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  border:0.16em solid #173e43;
  white-space: nowrap;
}

.overallContainer {
  position: relative;
}

.overall {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: ivory;
  height: 30px;
  width: 150px;
  text-align: center;
  padding-top: 10px;
}